%button{
    padding:rem(15px) rem(30px);
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: rem(12px);
    font-family: $font-header;
    cursor: pointer;
    @include transition-slow;

    @include responsive(small){
        padding:rem(15px) rem(10px);
        
     }
}

.movie{

    margin:rem(100px) 0px;

    @include responsive(small){
        margin: rem(50px) 0px;
    }

    
    &__container{
        width:1200px;
        margin: 0 auto;
       

        @include responsive(medium){
            width: 100%;
            padding-left: rem(25px);
           padding-right: rem(25px);
            
        }
       
    }

    &__top{
        display: flex;
        justify-content: space-between;

        @include responsive(small){
            flex-direction: column;
        }
       
    }

    &__description{
        
       text-align: left;

       @include responsive(small){
       text-align: center;
    }
        
    }

    &__title{
        font-size: rem(30px);
        text-transform: uppercase;
        color: $color-secondary;
        letter-spacing: 1px;
        padding:rem(10px) 0px;

        @include responsive(x-small){
            font-size: rem(20px);
          
        }
    }
    &__release-date{
        margin-top: rem(20px);
        font-size: rem(16px);
        color:$color-secondary;
        
    }
    &__genre{
        margin-top: rem(2px);

        &-type{
            background: red;
            color: #fff;
            padding:rem(5px);
            font-size: rem(10px);
            letter-spacing: 1px;
            border-radius: rem(5px);

            &:not(:last-child){
                margin-right: rem(8px);
                
            }
        }
    }

    &__poster{
       // flex: 1;
        position: relative;
       
        &-icon{
            position: absolute;
            top:50%;
            left:50%;
            z-index: 100;
            color:#fff;
            font-size: rem(50px);
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
        &-img{
            @include responsive(small){
                margin-top: rem(20px);
               width: 100%;
              
            }
        }
    }

    &__language{
        margin: rem(5px) 0px;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        margin-top: rem(50px);
        align-items: center;

        @include responsive(small){
            flex-direction: column;
          
        }

    }

    &__carousel{
        padding-right: rem(10px);
        text-align: left;
        width: 50%;
        

        @include responsive(small){
            width: 100%;
            padding-right: rem(0px);
          
        }

        &-img{
            display: block;
            
            @include responsive(small){
                width: 100%;
              
            }
        }
    }

    &__overview{
        color:$color-secondary;
        padding:rem(20px) 0px;
        @include responsive(small){
            padding-bottom:rem(10px);
            font-size: rem(18px);
          
        }
    }

    &__text{
        text-align: left;
        width: 50%;
        letter-spacing: 1px;
        @include responsive(small){
            width: 100%;
          
        }
       
    }

    &__more{
        text-align: center;
        margin-bottom: rem(50px);
       
    }

    &__button-ticket{
        background: $color-secondary;
        @extend %button;
        margin-top: rem(20px);
        font-weight: 100;
        
    }

    &__overlay{
        position: fixed;
        z-index: 1000;
        height: 100%;
        width:100%;
        top: 0%;
        left:0%;
        background: rgba(0,0,0,.8);
        display: none;

        iframe{
            height: rem(500px);
            width: rem(700px);
        }



        &--open{
            display: block;
        }
    }

    &__iframe{
       position: absolute;
       left:50%;
       top: 50%;
       transform: translate(-50%,-50%);

       &-close{
        position: absolute;
        right:5%;
        top:5%;
        color:rgb(130, 130, 130);
        font-size: rem(25px);
        height: rem(50px);
        width: rem(50px);
        border:2px solid rgba(235, 235, 235, 0.5);
        border-radius: 50%;
        padding-top: 10px;
        padding-left:14px;
        cursor: pointer;
       
        
    }
    }

    
}