*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  background-repeat: no-repeat; }

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.15; }

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
  background-color: transparent; }

ul, ol {
  list-style: none;
  outline: none; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

button,
button:active {
  outline: none;
  border: 0; }

html {
  font-size: 100%;
  font-weight: 300; }

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6; }

h1 {
  font-size: 3rem;
  line-height: 1; }

h2 {
  font-size: 2rem;
  line-height: 1; }

h3 {
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 1.125rem;
  line-height: 1; }

.category__button, .category__button-ticket, .movie__button-ticket {
  padding: 0.9375rem;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all .4s ease-out; }
  @media only screen and (max-width: 56.25rem) {
    .category__button, .category__button-ticket, .movie__button-ticket {
      padding: 0.9375rem 0.625rem; } }

.category {
  padding: 5rem 0rem; }
  @media only screen and (max-width: 75rem) {
    .category {
      padding: 1.25rem 0rem; } }
  .category__container {
    width: 1200px;
    margin: 0 auto; }
    @media only screen and (max-width: 75rem) {
      .category__container {
        padding-left: 1.5625rem;
        width: 100%; } }
    @media only screen and (max-width: 56.25rem) {
      .category__container {
        padding-left: 1.5625rem;
        width: 100%; } }
    @media only screen and (max-width: 37.5rem) {
      .category__container {
        width: 100%; } }
  .category__title {
    padding: 1.25rem 0rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #007082;
    letter-spacing: 2px;
    font-weight: 100 !important;
    font-size: 2.8125rem; }
    @media only screen and (max-width: 75rem) {
      .category__title {
        font-size: 1.875rem; } }
    @media only screen and (max-width: 56.25rem) {
      .category__title {
        font-size: 1.375rem; } }
    @media only screen and (max-width: 37.5rem) {
      .category__title {
        font-size: 1.375rem; } }
  .category__buttons {
    margin-top: 0.625rem 0rem; }
  .category__button {
    background: #3d4349;
    margin-right: 1.25rem; }
    @media only screen and (max-width: 37.5rem) {
      .category__button {
        margin-right: 0.625rem;
        font-size: 0.625rem; } }
    .category__button--active {
      background: red; }
    .category__button-ticket {
      width: 80%;
      margin-left: 10%;
      background: #007082; }
      @media only screen and (max-width: 37.5rem) {
        .category__button-ticket {
          width: 100%;
          margin-left: 0px; } }
  .category__movies {
    padding: 0.625rem 0px; }
    .category__movies::after {
      display: table;
      content: "";
      clear: both; }
    .category__movies-container {
      width: 100%;
      overflow: hidden;
      padding: 2.1875rem 0rem; }
      @media only screen and (max-width: 75rem) {
        .category__movies-container {
          padding: 0.625rem 1.5625rem 0.625rem 0rem; } }
      .category__movies-container--hide {
        display: none; }
  .category__movie {
    float: left;
    width: calc(25%);
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 75rem) {
      .category__movie {
        width: calc(25%); } }
    @media only screen and (max-width: 56.25rem) {
      .category__movie {
        margin-bottom: 1.25rem;
        width: calc(50%); } }
    @media only screen and (max-width: 37.5rem) {
      .category__movie {
        width: calc(100%); } }
    .category__movie-poster {
      width: 100%;
      transition: all .4s ease-out; }
      .category__movie-poster:hover {
        opacity: .4; }
    .category__movie-detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      color: #fff; }
    .category__movie-icon {
      height: 3.125rem;
      width: 3.125rem;
      background: #007082;
      border-radius: 50%;
      padding-left: 1.125rem;
      padding-top: 1.0625rem; }
    .category__movie-title {
      padding: 0.5rem 0px;
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: #007082;
      font-size: 1rem; }
    .category__movie-release {
      padding: 0.375rem 0px;
      text-align: center;
      color: #878787;
      font-size: 0.875rem;
      letter-spacing: 1px; }
    .category__movie-rating {
      text-align: center;
      color: #878787;
      font-size: 0.875rem;
      letter-spacing: 1px; }

.widget {
  width: 100%;
  position: relative;
  height: 31.25rem; }
  .widget__image {
    background-image: url("../../../resources/images/movie_hall.jpg");
    width: 100%;
    background-size: cover;
    height: 31.25rem;
    overflow: hidden; }
  .widget__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25rem) {
      .widget__content {
        left: 10%;
        transform: translate(0%, -50%);
        width: 80%; } }
  .widget__heading {
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 4px; }
    @media only screen and (max-width: 56.25rem) {
      .widget__heading {
        font-size: 1.875rem; } }
  .widget__sub-heading {
    font-size: 1rem;
    margin-top: 2.5rem;
    line-height: 1.875rem;
    background: #007082;
    color: #fff;
    padding: 1.25rem 0.625rem;
    border-radius: 0.125rem;
    opacity: .9;
    letter-spacing: 1px; }

.subscribe {
  margin: 2.5rem 0.625rem; }
  .subscribe__container {
    width: 1200px;
    margin: 0 auto;
    text-align: center; }
    @media only screen and (max-width: 75rem) {
      .subscribe__container {
        width: 100%; } }
  .subscribe__header {
    color: #007082; }
    @media only screen and (max-width: 75rem) {
      .subscribe__header {
        font-size: 1.375rem; } }
  .subscribe__social {
    margin-top: 1.25rem; }
    .subscribe__social-icon {
      padding: 0.625rem;
      color: #fff;
      background: red;
      cursor: pointer; }
  .subscribe__label {
    margin: 0.9375rem 0;
    font-size: 1rem; }
  .subscribe__form {
    width: 100%;
    outline: none; }
    .subscribe__form-content {
      margin-top: 1.25rem;
      width: 1005; }
  .subscribe__input {
    outline: none;
    width: 50%;
    height: 1.25rem;
    font-size: 1.125rem;
    color: #5e5e5e;
    font-weight: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .subscribe__input--error {
      border-bottom: 1px solid red; }
  .subscribe__button {
    background: #007082;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer; }

.scroll {
  position: fixed;
  right: 5%;
  bottom: -10%;
  z-index: 200;
  background: red;
  color: red;
  height: 3.125rem;
  width: 3.125rem;
  transition: all .4s ease-out;
  cursor: pointer; }
  .scroll--open {
    bottom: 1%; }
  .scroll__icon {
    margin-top: 17px;
    margin-left: 17px;
    color: #fff;
    transform: rotate(-90deg); }

.showing {
  margin: 3.125rem 0px; }
  .showing__movie {
    display: flex;
    margin: 3.125rem 0px; }
  .showing__poster {
    width: 50%;
    height: 50%;
    overflow: hidden; }
  .showing__description {
    width: 50%; }

.header {
  top: 0;
  background: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  color: #3d4349;
  box-shadow: 0px 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .header__container {
    width: 1200px;
    margin: 0 auto; }
    @media only screen and (max-width: 75rem) {
      .header__container {
        padding-left: 1.5625rem; } }
    @media only screen and (max-width: 56.25rem) {
      .header__container {
        padding-left: 1.5625rem; } }
  .header__logo {
    position: absolute;
    top: 0.625rem; }
    @media only screen and (max-width: 56.25rem) {
      .header__logo {
        top: 1.25rem; } }
    .header__logo-img {
      height: 3.75rem;
      width: 8.75rem; }
      @media only screen and (max-width: 56.25rem) {
        .header__logo-img {
          height: 2.5rem;
          width: 6.25rem; } }
  .header__desktop-nav {
    text-align: right; }
    @media only screen and (max-width: 56.25rem) {
      .header__desktop-nav {
        display: none; } }
  .header__desktop-item {
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2rem 0.9375rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer; }
    .header__desktop-item:hover {
      color: #007082; }
  .header__mobile-nav {
    display: none;
    text-align: right; }
    @media only screen and (max-width: 56.25rem) {
      .header__mobile-nav {
        display: block; } }
  .header__mobile-hesburger {
    width: 1.875rem;
    float: right;
    position: relative;
    top: 2rem;
    right: 2rem;
    z-index: 200;
    cursor: pointer; }
    .header__mobile-hesburger--open {
      height: 1.5625rem; }
      .header__mobile-hesburger--open .header__mobile-line:last-of-type {
        display: none; }
      .header__mobile-hesburger--open .header__mobile-line:first-of-type {
        transform: rotate(45deg);
        position: absolute; }
      .header__mobile-hesburger--open .header__mobile-line:nth-child(even) {
        transform: rotate(-45deg);
        position: absolute; }
  .header__mobile-line {
    height: 2px;
    width: 22px;
    background: #1d1d1d;
    margin-bottom: 3px;
    transition: all .4s ease-out; }
  .header__mobile-items {
    position: fixed;
    height: 100vh;
    z-index: 100;
    width: 300px;
    right: -300px;
    padding-top: 5rem;
    background: #007082;
    opacity: 1;
    transition: all .4s ease-out; }
    .header__mobile-items--open {
      right: 0rem; }
  .header__mobile-item {
    text-align: left;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.9375rem;
    font-family: "Roboto", sans-serif;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .4s ease-out; }
    .header__mobile-item:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .header__mobile-item:hover {
      border-left: 3px solid red; }

.banner__prev, .banner__next {
  top: 50%;
  z-index: 100;
  background: 'a&#770';
  color: #fff;
  font-size: 1.25rem;
  height: 3.125rem;
  width: 3.125rem;
  border: 2px solid #007082;
  background: #007082;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease-out; }
  .banner__prev:hover, .banner__next:hover {
    background: #fff;
    color: #007082;
    opacity: .6;
    border: 2px solid #fff; }
  @media only screen and (max-width: 75rem) {
    .banner__prev, .banner__next {
      top: 45%; } }
  @media only screen and (max-width: 56.25rem) {
    .banner__prev, .banner__next {
      display: none !important; } }

.banner {
  width: 100%;
  margin-top: 5rem;
  position: relative; }
  .banner .slick-prev {
    display: none !important; }
  .banner .slick-next {
    display: none !important; }
  .banner__prev {
    position: absolute;
    left: 5%;
    margin-right: 50px; }
  .banner__next {
    position: absolute;
    right: 5%; }
  .banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase; }
    .banner__title-header {
      color: #007082;
      font-size: 3.125rem;
      background: #fff;
      display: inline-block;
      padding: 0.3125rem 0.625rem; }
      @media only screen and (max-width: 56.25rem) {
        .banner__title-header {
          font-size: 1.5625rem; } }
      @media only screen and (max-width: 37.5rem) {
        .banner__title-header {
          font-size: 1.25rem; } }
    .banner__title-subheader {
      color: #007082;
      font-size: 2.5rem;
      background: #fff;
      padding: 0.625rem 1.25rem;
      margin-top: 0.625rem; }
      @media only screen and (max-width: 56.25rem) {
        .banner__title-subheader {
          font-size: 1.5625rem; } }
      @media only screen and (max-width: 37.5rem) {
        .banner__title-subheader {
          font-size: 1rem; } }
  .banner__icon {
    position: relative;
    left: 13px;
    top: 12px; }
  .banner__picture {
    display: block;
    width: 100%;
    position: relative; }
  .banner-small {
    width: 100%;
    margin-top: 5rem;
    position: relative; }
    .banner-small__image {
      background: url("/resources/images/movie_hall.jpg");
      height: 21.875rem;
      background-position: center;
      background-size: cover; }
    .banner-small__text {
      color: #007082;
      background: #fff;
      padding: 0.625rem;
      font-family: "Abril Fatface", cursive;
      font-size: 2.5rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 56.25rem) {
        .banner-small__text {
          font-size: 1.5625rem; } }

.footer {
  height: 50px;
  background: #007082;
  color: #fff;
  letter-spacing: 1px; }
  .footer__container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 75rem) {
      .footer__container {
        width: 100%; } }

.category__button, .category__button-ticket, .movie__button-ticket {
  padding: 0.9375rem 1.875rem;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all .4s ease-out; }
  @media only screen and (max-width: 56.25rem) {
    .category__button, .category__button-ticket, .movie__button-ticket {
      padding: 0.9375rem 0.625rem; } }

.movie {
  margin: 6.25rem 0px; }
  @media only screen and (max-width: 56.25rem) {
    .movie {
      margin: 3.125rem 0px; } }
  .movie__container {
    width: 1200px;
    margin: 0 auto; }
    @media only screen and (max-width: 75rem) {
      .movie__container {
        width: 100%;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem; } }
  .movie__top {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25rem) {
      .movie__top {
        flex-direction: column; } }
  .movie__description {
    text-align: left; }
    @media only screen and (max-width: 56.25rem) {
      .movie__description {
        text-align: center; } }
  .movie__title {
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #007082;
    letter-spacing: 1px;
    padding: 0.625rem 0px; }
    @media only screen and (max-width: 37.5rem) {
      .movie__title {
        font-size: 1.25rem; } }
  .movie__release-date {
    margin-top: 1.25rem;
    font-size: 1rem;
    color: #007082; }
  .movie__genre {
    margin-top: 0.125rem; }
    .movie__genre-type {
      background: red;
      color: #fff;
      padding: 0.3125rem;
      font-size: 0.625rem;
      letter-spacing: 1px;
      border-radius: 0.3125rem; }
      .movie__genre-type:not(:last-child) {
        margin-right: 0.5rem; }
  .movie__poster {
    position: relative; }
    .movie__poster-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      color: #fff;
      font-size: 3.125rem;
      transform: translate(-50%, -50%);
      cursor: pointer; }
    @media only screen and (max-width: 56.25rem) {
      .movie__poster-img {
        margin-top: 1.25rem;
        width: 100%; } }
  .movie__language {
    margin: 0.3125rem 0px; }
  .movie__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    align-items: center; }
    @media only screen and (max-width: 56.25rem) {
      .movie__bottom {
        flex-direction: column; } }
  .movie__carousel {
    padding-right: 0.625rem;
    text-align: left;
    width: 50%; }
    @media only screen and (max-width: 56.25rem) {
      .movie__carousel {
        width: 100%;
        padding-right: 0rem; } }
    .movie__carousel-img {
      display: block; }
      @media only screen and (max-width: 56.25rem) {
        .movie__carousel-img {
          width: 100%; } }
  .movie__overview {
    color: #007082;
    padding: 1.25rem 0px; }
    @media only screen and (max-width: 56.25rem) {
      .movie__overview {
        padding-bottom: 0.625rem;
        font-size: 1.125rem; } }
  .movie__text {
    text-align: left;
    width: 50%;
    letter-spacing: 1px; }
    @media only screen and (max-width: 56.25rem) {
      .movie__text {
        width: 100%; } }
  .movie__more {
    text-align: center;
    margin-bottom: 3.125rem; }
  .movie__button-ticket {
    background: #007082;
    margin-top: 1.25rem;
    font-weight: 100; }
  .movie__overlay {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.8);
    display: none; }
    .movie__overlay iframe {
      height: 31.25rem;
      width: 43.75rem; }
    .movie__overlay--open {
      display: block; }
  .movie__iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .movie__iframe-close {
      position: absolute;
      right: 5%;
      top: 5%;
      color: #828282;
      font-size: 1.5625rem;
      height: 3.125rem;
      width: 3.125rem;
      border: 2px solid rgba(235, 235, 235, 0.5);
      border-radius: 50%;
      padding-top: 10px;
      padding-left: 14px;
      cursor: pointer; }

.showing__container {
  width: 800px;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25rem) {
    .showing__container {
      width: 100%;
      padding-left: 1.5625rem;
      padding-right: 1.5625rem; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
