%prev-next-buttons{
    top:50%;
    z-index: 100;
    background: 'a&#770';
    color: #fff;
    font-size: rem(20px);
    height:rem(50px);
    width: rem(50px);
    border:2px solid $color-secondary;
    background: $color-secondary;
    border-radius: 50%;
    cursor: pointer;
    @include transition-slow;

    &:hover{
        background: #fff;
        color: $color-secondary;
        opacity: .6;
        border:2px solid #fff;
    }
    @include responsive(medium){
        top:45%;
    }
    @include responsive(small){
        display: none !important;
    }
}

.banner{
    width: 100%;
    margin-top: rem(80px);
    position: relative;

    .slick-prev{
        display: none !important; 
    }
    .slick-next{
        display: none !important;
    }

    &__prev{
        position: absolute;
        left:5%;
        margin-right: 50px;
        @extend %prev-next-buttons;

    }

    &__next{
        position: absolute;
        right: 5%;
       
        @extend %prev-next-buttons;
        
    }

    &__title{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        text-transform: uppercase;

        &-header{
           color: $color-secondary;
           font-size: rem(50px);
           background: #fff;
           display: inline-block;
           padding:rem(5px) rem(10px);

            @include responsive(small){
                font-size: rem(25px);
            }
            @include responsive(x-small){
                font-size: rem(20px);
            }
           
        }
        &-subheader{
           color: $color-secondary;
           font-size: rem(40px);
           background: #fff;
           padding:rem(10px) rem(20px);
           margin-top: rem(10px);
           @include responsive(small){
                font-size: rem(25px);
            }
            @include responsive(x-small){
                font-size: rem(16px);
            }
        }
    }

    &__icon{
        position: relative;
        left:13px;
        top:12px;
    }

    &__picture{
        display: block;
        width: 100%;
        position: relative;
        

    }
    
}